@charset "UTF-8";


/*
pra usar as fontes
font-family: 'Kalnia', serif;
font-family: 'Work Sans', sans-serif;

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*/
:root{
    --cor1: #FFF;
    --cor2: #E7E7E7;
    --cor3: #292929;
    --cor4: #010101;
    --cor5: #E12300;
    
    --fonte1: "Bebas Neue", sans-serif;
    --fonte2: 'Work Sans', sans-serif;
   
}

html, body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;

}
/* ============================= top =======================================*/
#sec-top {
  width: 100vw;
  height: 100vh;
  margin: 0;

  background-image: url(imgs/principal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  position: relative; /* Importante para usar 'absolute' nos elementos internos */
}

#sec-top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(41, 41, 41, 0.7); /* Overlay */
}

#top-logo {
  position: absolute;
  top: 7%; /* Posição da logo no topo */
  right: 7%; /* Alinhamento à direita */
  z-index: 2; /* Garante que a logo fique acima do overlay */
}

#top-logo > img {
  max-height: 200px; /* Ajuste conforme necessário */
  max-width: 200px;
}

#top-titulo,
#top-titulo2,
#top-btn {
  position: absolute;
  left: 10%; /* Alinhamento dos textos e botão à esquerda */
  z-index: 2; /* Para ficar acima do overlay */
  text-align: left;
  color: var(--cor2); /* Cor definida no seu CSS */
  font-family: var(--fonte1);
}

#top-titulo {
  bottom: 170px; /* Posição do título principal */
  font-size: 90px; /* Ajuste conforme necessário */
  font-weight: 500;
}

#top-titulo2 {
  bottom: 120px; /* Posição do subtítulo */
  font-size: 30px;
  font-weight: 200;
}

#top-btn {
  bottom: 80px; /* Posição do botão */
  background-color: var(--cor5);
  color: var(--cor1);
  padding: 3px 20px;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-weight: 200;
  transition: background-color 0.7s ease;
}

#top-btn:hover {
  background-color: var(--cor3);
  color: var(--cor1);
}



/* =============================  =======================================*/
#sec-mod1 {
  display: grid;
  grid-template-areas: 'titulo vid vid'
                       'txt vid vid';
  
  background-color: var(--cor2);
  padding: 50px 100px;

  height: 100%;
  width: 100vw;

  position: relative; 
  z-index: 2;

  animation: fundoMix 20s infinite alternate;
}

@keyframes fundoMix {
  0% {
    background-color: rgb(193, 193, 193); 
}
25% {
    background-color: rgba(231, 231, 231, 1); 
}
50% {
    background-color: rgba(210, 210, 210, 0.8); 
}
75% {
    background-color: rgba(231, 231, 231, 0.7); 
}
100% {
    background-color: rgba(255, 255, 255, 0.6); 
}
}

#mod1-titulo,
#mod1-txt,
#mod1-video {
  position: relative;
}

#mod1-titulo {
  grid-area: titulo;
  margin: 0 auto;
  text-align: justify;
  padding: 80px 80px 10px 10px;

  font-family: var(--fonte1);
  color: var(--cor3);
  font-size: 70px;
  font-weight: 400;
}

#mod1-txt {
  grid-area: txt;
  margin: 0 auto;
  text-align: justify;
  padding: 0px 80px 100px 10px;

  font-family: var(--fonte2);
  color: var(--cor3);
  font-size: 30px;
  font-weight: 300;
}

#mod1-video {
  grid-area: vid;
  max-width: 900px;
  max-height: 100vh;
  margin: 0 auto;
  padding: 0px 200px 0px 100px;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  
  display: block;
  object-fit: cover;
}

 


/* =============================  =======================================*/

#sec-mod2{
    display: grid;
    grid-template-areas: 'titulo  titulo titulo '
                         'ap1 ap2 ap3'
                         'ap1 ap2 ap3';
    
    background-color: var(--cor3);
    padding: 10px;
    padding-bottom: 50px;
  
    height: 100%;
    width: 100vw;

    position: relative; 
    z-index: 2;

    place-items: center;

  }

  .mod2-carrossel{
    max-width: 500px;
    max-height: 350px;
    padding: 10px;
    margin-top: 0px;


  }



  #mod2-ap1{
    grid-area: ap1;
    padding-left: 100px;
    padding-bottom: 100px;
  }

  #mod2-ap2{
    grid-area: ap2;
    padding-bottom: 100px;
  }

  #mod2-ap3{
    grid-area: ap3;
    padding-right: 100px;
    padding-bottom: 100px;
  }


  #mod2-img{
    max-width: 500px;
    max-height: 250px; 
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden; 


}
#mod2-img  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.7s ease;
}
#mod2-img:hover img {
    transform: scale(1.2);
    transform-origin: center;
}
#mod2-img:hover {
    overflow: hidden; 
}


  .mod2-div{
    margin-top: 10px;

    padding: 5px;

    max-width: 100%;
    max-height: 100%;
    border: 2px solid var(--cor1);
    text-align: center;
    color: var(--cor1);
    cursor: pointer;
   
  }

  .mod2-div:hover {
    background-color: var(--cor1);
    transition: background-color 0.7s ease;
    color: var(--cor3);
}

 #mod2-titulo{
    grid-area: titulo;
    text-align: center; 
    padding-top: 100px;
    padding-bottom: 0px;
    margin-bottom: 0px;

    font-family: var(--fonte1);
    color: var(--cor1);
    font-size: 80px;
    font-weight: 500;
}

#mod2-txt1 {
    font-size: 15px;
    margin-bottom: 5px;
    padding-top: 15px;
}
#mod2-txt2 {
    font-size: 25px;
    font-weight: 900; 
    margin: 10px 0;
}
#mod2-txt3 {
  font-size: 15px;
    margin-top: 5px; 
    padding-bottom: 15px;
}




/* =============================  =======================================*/
#sec-mod3 {
  display: grid;
  grid-template-areas: 'vid titulo'
                       'vid txt'
                       'btn txt';
  
  background-color: var(--cor1);
  padding: 50px 100px;

  height: 100%;
  width: 100vw;

  position: relative; 
  z-index: 2;

 
}


#mod3-titulo,
#mod3-txt,
#mod3-video {
  position: relative;
}

#mod3-titulo {
  grid-area: titulo;
  margin: 0;
  text-align: left; /* Texto alinhado à esquerda */
  padding:0px 25vh 0px 80px; /* Ajusta padding para o alinhamento correto */

  font-family: var(--fonte1);
  color: var(--cor3);
  font-size: 70px;
  font-weight: 400;
}

#mod3-txt {
  grid-area: txt;
  margin: 0px 0px 10px 0px;
  text-align: left; /* Texto alinhado à esquerda */
  padding: 0px 25vh 0px 80px; /* Ajusta padding para o alinhamento correto */

  font-family: var(--fonte2);
  color: var(--cor3);
  font-size: 30px;
  font-weight: 300;
}

#mod3-video {
  grid-area: vid;
  max-width: 600px;
  max-height: 90vh;
  margin: 0 auto;
  padding: 0px 50px 0px 0px; /* Ajusta padding do vídeo */
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  
  display: block;
  object-fit: cover;
}

.sound-button {
  grid-area: btn;
  max-width: 500px;
  max-height: 90vh;
  margin: 0 auto;
  padding: 10px 50px 10px 50px;

  font-size: 16px;
  cursor: pointer;
  background-color: var(--cor3);
  color: var(--cor1);
  border: none;
  border-radius: 5px;
 
}



/* =============================  =======================================*/

#sec-mod4 {
  display: grid;
  grid-template-areas: 'titulo titulo titulo'
                       'txt img img';

  background-color: var(--cor3); /* Anteriormente cor2 */
  padding: 50px 100px;

  height: 100%;
  width: 100vw;

  position: relative; 
  z-index: 2;
}

#mod4-titulo,
#mod4-txt,
#mod4-img {
  position: relative; 
}  

#mod4-titulo {
  grid-area: titulo;

  margin: 0 auto;
  text-align: justify;
  padding: 80px 80px 10px 10px;

  font-family: var(--fonte1);
  color: var(--cor1); /* Anteriormente cor3 */
  font-size: 50px;
  font-weight: 400;
}

#mod4-txt {
  grid-area: txt;

  margin: 0 auto;
  text-align: justify;
  padding: 0px 80px 100px 10px;

  font-family: var(--fonte2);
  color: var(--cor1); /* Anteriormente cor3 */
  font-size: 24px;
  font-weight: 300;
}





#mod4-img{
  grid-area: img;
  max-width: 900px;
    max-height: 550px; 
    margin: 0px 25vh 0px 0px;



    display: flex;
    align-items: center;
    justify-content: center;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  overflow: hidden; 
} 


#mod4-img  img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.7s ease;
}
#mod4-img:hover img {
  transform: scale(1.2);
  transform-origin: center;
}
#mod4-img:hover {
  overflow: hidden; 
}


/* =============================  =======================================*/


#sec-mod-fin {
  width: 100vw;
  height: 100vh;
  margin: 0;

  background-image: url(imgs/final.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  position: relative; /* Importante para usar 'absolute' nos elementos internos */
}

#sec-mod-fin::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(41, 41, 41, 0.7); /* Overlay */
}

#fin-logo {
  position: absolute;
  top: 7%; /* Posição da logo no topo */
  right: 7%; /* Alinhamento à direita */
  z-index: 2; /* Garante que a logo fique acima do overlay */
}

#fin-logo > img {
  max-height: 200px; /* Ajuste conforme necessário */
  max-width: 200px;
}

#fin-titulo,
#fin-titulo2,
#fin-btn {
  position: absolute;
  left: 10%; /* Alinhamento dos textos e botão à esquerda */
  z-index: 2; /* Para ficar acima do overlay */
  text-align: left;
  color: var(--cor2); /* Cor definida no seu CSS */
  font-family: var(--fonte1);
}

#fin-titulo {
  bottom: 170px; /* Posição do título principal */
  font-size: 90px; /* Ajuste conforme necessário */
  font-weight: 500;
}

#fin-titulo2 {
  bottom: 120px; /* Posição do subtítulo */
  font-size: 30px;
  font-weight: 200;
}

#fin-btn {
  bottom: 80px; /* Posição do botão */
  background-color: var(--cor5);
  color: var(--cor1);
  padding: 3px 20px;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-weight: 200;
  transition: background-color 0.7s ease;
}

#fin-btn:hover {
  background-color: var(--cor3);
  color: var(--cor1);
}




/* =============================  =======================================*/

